.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


libMHpE.so
!libId.so
!libtest.so
!libTfk.so
!libXnext.so
!libVnext.so
!libKFnext.so
!libC2T.so
!libT2C.so
!libEKFnext.so