<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bluerov2_heavy_reach_urdf" params="prefix">

    <link name="${prefix}base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.011" />
        <mass value="13.0" />
        <inertia
          ixx="0.26"
          ixy="0"
          ixz="0"
          iyy="0.23"
          iyz="0"
          izz="0.37"
        />
      </inertial>
      <visual>
        <geometry>
          <mesh
            filename="package://ros2_control_blue_reach_5/blue/meshes/bluerov2_heavy_reach/bluerov2_heavy_reach.dae"
            scale="0.025 0.025 0.025"
          />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0" />
      </visual>
      <collision name="base_link_collision">
        <geometry>
          <box size="0.457 0.575 0.05" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.06" />
      </collision>
    </link>

      <!-- Robot Footprint -->
    <link name="${prefix}base_footprint" />
    <joint name="${prefix}base_footprint_joint" type="fixed">
      <child link="${prefix}base_footprint" />
      <parent link="${prefix}base_link" />
      <origin xyz="0.0 0.0 1.0" rpy="0 0 0"/>
    </joint>

    <!-- Import camera macro -->
    <xacro:include filename="$(find ros2_control_blue_reach_5)/blue/xacro/camera/urdf.xacro" />

    <xacro:camera_urdf prefix="${prefix}" parent="${prefix}base_link">
      <origin rpy="0 0 0" xyz="0.21 0 0.067" />
    </xacro:camera_urdf>

    <!-- Import T200 macro -->
    <xacro:include filename="$(find ros2_control_blue_reach_5)/blue/xacro/t200/urdf.xacro" />

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="1">
      <origin rpy="-1.571 1.571 -1.047" xyz="0.088 -0.102 -0.04" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="2">
      <origin rpy="-1.571 1.571 -2.094" xyz="0.088 0.102 -0.04" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="3">
      <origin rpy="-1.571 1.571 1.047" xyz="-0.088 -0.102 -0.04" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="4">
      <origin rpy="-1.571 1.571 2.094" xyz="-0.088 0.102 -0.04" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="5">
      <origin rpy="0 0 0" xyz="0.118 -0.215 0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="6">
      <origin rpy="0 0 0" xyz="0.118 0.215 0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="7">
      <origin rpy="0 0 0" xyz="-0.118 -0.215 0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="8">
      <origin rpy="0 0 0" xyz="-0.118 0.215 0.064" />
    </xacro:t200_urdf>






<!-- Define intertial property macros  -->
  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>



<link name="imu_link">
  <visual>
    <geometry>
      <box size="0.1 0.1 0.1"/>
    </geometry>
  </visual>

  <collision>
    <geometry>
      <box size="0.1 0.1 0.1"/>
    </geometry>
  </collision>

  <xacro:box_inertia m="0.1" w="0.1" d="0.1" h="0.1"/>
</link>

<joint name="imu_joint" type="fixed">
  <parent link="${prefix}base_link"/>
  <child link="imu_link"/>
  <origin xyz="0 0 0.01"/>
</joint>

 <gazebo reference="imu_link">
  <sensor name="imu_sensor" type="imu">
   <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
      <ros>
        <namespace>/demo</namespace>
        <remapping>~/out:=imu</remapping>
      </ros>
      <initial_orientation_as_reference>false</initial_orientation_as_reference>
    </plugin>
    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>
    <imu>
      <angular_velocity>
        <x>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </noise>
        </x>
        <y>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </noise>
        </y>
        <z>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </noise>
        </z>
      </angular_velocity>
      <linear_acceleration>
        <x>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </noise>
        </x>
        <y>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </noise>
        </y>
        <z>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </noise>
        </z>
      </linear_acceleration>
    </imu>
  </sensor>
</gazebo>






  </xacro:macro>
</robot>
