<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alpha_5_example">

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="prefix" default="alpha" />
  <xacro:arg name="slowdown" default="100.0" />
  <xacro:arg name="device" default="/dev/ttyUSB0"/>
  <xacro:arg name="baud_rate" default="115200"/>

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find ros2_control_reach_5)/urdf/alpha_5.urdf.xacro"/>

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find ros2_control_reach_5)/ros2_control/robot_system_multi_interface.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="base_link"/>

  <xacro:alpha_5 parent="base_link" name="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alpha_5>

  <xacro:robot_system_multi_interface
    name="ReachSystemMultiInterface"
    prefix="$(arg prefix)"
    device="$(arg device)"
    baud_rate="$(arg baud_rate)" 
    use_mock_hardware="$(arg use_mock_hardware)"
    slowdown="$(arg slowdown)" />

</robot>


